{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
       <div class="col-md-8">
            <table class="table table-light table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Sl. No.</th>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Type of Transaction</th>
                    <th>No. of Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>

                {% for stock in stocks %}
                    <tr>
                        <td>{{ loop.index }} </td>
                        <td>{{ stock.time }} </td>
                        <td>{{ stock.name }} </td>
                        <td>{{ stock.symbol }} </td>
                        <td>{{ "Buy" if stock.type == "B" else "Sell" }} </td>
                        <td>{{ stock.shares }} </td>
                        <td>{{ stock.price / stock.shares }} </td>
                        <td>{{ stock.price }}</td>
                    </tr>
                {% endfor %}
            </table>
       </div>
{% endblock %}
