{% extends "layout.html" %}

{% block title %}
Deep Learning
{% endblock %}

{% block main %}
<form class="text-white text-left" method="post" action="/reinforcement_learning">
    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            <label for="nameAlgo">Select the algorithm</label>
            <select id="nameAlgo" name="nameAlgo" class="form-control w-100">
                <option value="null" class="text-muted"> Choose... </option>
                {% for algo in algorithms %}
                <option value="{{algo}}"> {{ algo }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="nameStock">Select the stock</label>
            <select id="nameStock" name="nameStock" class="form-control w-100">
                <option value="null" class="text-muted"> Choose... </option>
                {% for stock in stocks %}
                <option value="{{stock}}"> {{ stock }} </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            <div>
                <label for="days">Start Date</label>
            </div>
            <input type="date" class="form-control w-100" name="startDate" placeholder="2022-01-01" value="2022-01-01" required>
        </div>
        <div class="form-group col-12 col-md-6">
            <div>
                <label for="days">End Date</label>
            </div>
            <input type="date" class="form-control w-100" name="endDate" placeholder="2022-03-31" value="2022-03-31" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <div>
                <label for="days">Window Size</label>
            </div>
            <input type="text" class="form-control" name="windowSize" placeholder="30" value="30" required>
            <label for="windowSize" class="text-warning font-italic">(valid range 7-30)</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <div>
                <label for="days">Initial Money</label>
            </div>
            <input type="text" class="form-control" name="initialMoney" placeholder="10000" value="10000" required>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Predict</button>
</form>
{% endblock %}